@import "../bower_components/uikit/less/uikit.less";

// Components: Navs
@import "../bower_components/uikit/less/components/dotnav.less";
@import "../bower_components/uikit/less/components/slidenav.less";

// Components: JavaScript
@import "../bower_components/uikit/less/components/slideshow.less";

@icon-font-path: "../bower_components/uikit/fonts";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Playfair+Display|Raleway:300,400,500,700');

@import "base/colors.less";
@import "base/page.less";

@global-radius:                             3px;

@base-body-font-family:                     'Playfair Display', serif;
@base-body-font-size:                       16px;
@base-body-line-height:                     26px;
@base-body-color:                           @ui-text-dark;
@base-heading-color:                        @ui-text-dark;

@base-link-color:                           @ui-primary;
@base-link-hover-color:                     @ui-primary-hover;
@base-link-hover-text-decoration:           none;

@base-heading-font-family:                  'Raleway', sans-serif;
@base-heading-font-weight:                  500;

@navbar-background:                         tranparent;
@navbar-nav-height:                         90px;
@navbar-nav-color:                          @ui-text-dark;
@navbar-nav-font-size:                      14px;
@navbar-nav-font-family:                    'Raleway', sans-serif;
@navbar-nav-hover-background:               transparent;
@navbar-nav-hover-color:                    @ui-text-dark;
@navbar-nav-onclick-background:             transparent;
@navbar-nav-onclick-color:                  @ui-text-dark;
@navbar-nav-active-background:              transparent;
@navbar-nav-active-color:                   @ui-text-dark;

@button-padding-horizontal:                 24px;
@button-primary-background:                 @ui-primary;
@button-primary-hover-background:           @ui-primary-hover;
@button-primary-active-background:          @ui-primary-hover;

@dotnav-contrast-background:                transparent;
@dotnav-contrast-onclick-background:        @dotnav-contrast-hover-background;
@dotnav-contrast-active-background:         @dotnav-contrast-hover-background;
@dotnav-width:                              10px;

@utility-border-rounded:                    @global-radius;

@button-font-size:                          14px;
@button-large-font-size:                    14px;

@block-secondary-background:                @ui-neutral-x-dark;

@text-small-font-size:                      12px;

@import "objects/block.less";
@import "objects/button.less";
@import "objects/dotnav.less";
@import "objects/navbar.less";

@import "modules/block.less";
@import "modules/banner.less";
@import "modules/footer.less";
@import "modules/header.less";
@import "modules/hero.less";
@import "modules/intro.less";