.tm-footer {
    font-size: 14px;
    position: relative;
    .uk-panel-title {
        font-size: 23px;
        padding-bottom: @panel-title-margin-bottom;
        border-bottom: 1px solid #5a5a5a;
        /* Tablets and bigger */
        @media (min-width: @breakpoint-medium) {
            padding-bottom: 0;
            border: none;
        }
    }
}

.tm-footer__legal {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: @utility-container-padding-horizontal;
    background-color: darken(@ui-neutral-x-dark, 2%);
}

.tm-footer__to-top {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    background: rgba(0,0,0,0.1);
    text-align: center;
    line-height: 48px;
    right: 25px;
    bottom: 7px;
    color: @contrast-text-muted-color;
    display: none;
    &:hover,
    &:active {
        color: @contrast-color;
    }
    /* Tablets and bigger */
    @media (min-width: @breakpoint-medium) {
        display: block;
    }
}